<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<div class="submit-form">
    <div class="title">
        <h4> <strong>Add details for product</strong></h4>
    </div>

    <form (ngSubmit)="saveProduct()" [formGroup]="myForm">
    <div class="form-group">
        <label for="type">Type</label>
        <input id="type" formControlName="type" class="form-control" type="text" placeholder="Fruits/Vegetables" />
        <div
            class="alert alert-danger"
            role="alert"
            *ngIf="!myForm.get('type').valid && hasErr"
          ><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Type required!
          </div>
    </div>

    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" formControlName="name" class="form-control" type="text" placeholder="Name" />
        <div
            class="alert alert-danger"
            role="alert"
            *ngIf="!myForm.get('name').valid && hasErr"
          ><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Name required!
          </div>
    </div>

    <div class="form-group">
        <label for="price">Price</label>
        <input id="price" formControlName="price" class="form-control" type="number" required min="1" placeholder="Price"/>
        <div
            class="alert alert-danger"
            role="alert"
            *ngIf="!myForm.get('price').valid && hasErr"
          ><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Price required!
          </div>
    </div>

    <div class="form-group">
        <label for="imgUrl">ImgURL</label>
        <input id="imgUrl" formControlName="imgUrl" class="form-control" type="text" placeholder="Img URL" />
        <div
            class="alert alert-danger"
            role="alert"
            *ngIf="!myForm.get('imgUrl').valid && hasErr"
          ><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            ImgURL required!
          </div>
    </div>
    <div class="form-group">
        <label for="description">Alternative text</label>
        <input id="description" formControlName="description" class="form-control" type="text" placeholder="Alternative text for image" />
        <div
            class="alert alert-danger"
            role="alert"
            *ngIf="!myForm.get('description').valid && hasErr"
          ><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Alternative text required!
          </div>
    </div>
    <button class="btn btn-success">Submit</button>
    <div class="form-group">
        <div
        class="alert alert-danger"
        role="alert"
        *ngIf="!submitted && notSubmitted"
        >
        Add failed: {{ errMessage }}
        </div>
    </div>
    <div class ="form-group" *ngIf="submitted">
        <h5>You submitted successfully!</h5>
        <button class="btn btn-success" (click)="newProduct()">Add a new product</button>
        </div>
    </form>
    </div>
    <br>
    

<!--
<div class="submit-form">
    <div *ngIf="!submitted">
        <div class="form-group">
            <label for="type">Type</label>
            <input 
                type="text"
                class="form-control"
                id="type"
                required
                [(ngModel)]="product.type"
                name="type"
            />       
        </div>

        <div class="form-group">
            <label for="name">Name</label>
            <input 
                type="text"
                class="form-control"
                id="name"
                required
                [(ngModel)]="product.name"
                name="name"
            />
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input 
                type="number"
                class="form-control"
                id="price"
                required
                [(ngModel)]="product.price"
                name="price"
            />
        </div>

        <div class="form-group">
            <label for="imgUrl">ImgURL</label>
            <input 
                type="text"
                class="form-control"
                id="imgUrl"
                required
                [(ngModel)]="product.imgUrl"
                name="imgUrl"
            />
        </div>

        <button (click)="saveProduct()" class="btn btn-success">Submit</button>
    </div>


    <div *ngIf="submitted">
        <h4>You submitted successfully!</h4>
        <button class="btn btn-success" (click)="newProduct()">Add</button>
    </div>
</div>
-->