.list {
    max-width: 960px;
    margin: auto;
    color: #405065;
    text-align: center;
  
  }
  .bodybg-color {
    background-color: #ccc;
  }
  
  .form-group{
    align-items: center;
    text-align: center;
    padding: 10px;
    max-width: 500px;
    margin:auto;
  }
  .list-group{
    padding-top: 15px;
  }
  
  .form-control {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    margin-bottom: 10px;
    
  }
  
  .list-group-item{
    box-shadow: 0 5px 40px #B0C1D9;
    align-items: center;
  }
  .badge:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  .badge{
    cursor: pointer;
  }
  div.imgProduct img{
    width: 100%;
    height: auto;
    margin:auto;
  }
  div.imgProduct{
      margin: auto;
      
      width: 10px;
      text-align: center;
  }
  
  .detailsProduct{
    text-align: center;
  }
  .card-img-top{
      width: 100px;
      height: 100px;
  }
  .col-md-12{
      align-items: center;
  }
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color:darkcyan;
}
/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }