.form-control{
    box-shadow: 0 10px 40px 0 #B0C1D9;
}

.edit-form {
    padding-top: 50px;
    max-width: 500px;
    margin: auto;
    text-align: center;
}
.form-group{
    text-align: left;
}
.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
.btn{
    text-align: center;
    display: inline-block;
    width: 95px;
    margin-left: 5px;
    margin-bottom: 9px;
    cursor: pointer;
    
}
.badge:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.badge{
    margin: auto;
    cursor: pointer;
    padding:10px 15px;
}