.form-control{
    box-shadow: 0 7px 40px 0 #B0C1D9;
}

.edit-form {
    padding: 20px;
    max-width: 500px;
    margin: auto;
    text-align: center;
    background-color: darkcyan;
   color: white;
}
.form-group{
    text-align: left;
}
.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
.btn{
    text-align: center;
    display: inline-block;
    width: 95px;
    margin-left: 5px;
    margin-bottom: 15px;
    cursor: pointer;
    
}

.badge:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.badge{
    margin: 15px;
    cursor: pointer;
    padding:15px 15px;
   
}
.badge-danger{
    background-color: red;
}
.badge-success{
    background-color: green;
}
.bt{
    text-align: center;
  
    margin-top: 20px;
}