div.listProducts {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.listProducts:hover{
    border: 1px solid #777;
    align-items: center;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

div.listProducts img{
    width: 100%;
    height: auto;
}

.list-item{
    padding-top:  15px;
    text-align: center;
}

.item-price{
    padding: 5px;
    text-align: center;

}

.container {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 960px;
  margin: auto;
}

.form-group{
    padding-bottom: 35px;
    max-width: 500px;
    margin:auto;
    
}

.form-control{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}


#quantity{
    width: 70px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    float: left;
    margin-left: 3px;
    margin-bottom: 2px;
}
.details {
    padding-left: 10px;
    
}
.btn{
    text-align: center;
    display: inline-block;
    width: 95px;
    margin-left: 5px;
    margin-bottom: 9px;
    cursor: pointer;
    
}
.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

