.card{
    margin-left: 15px;
    margin-right: 15px;
    background-color:rgb(10, 180, 180);
    color: white;
    width: 170px;
    text-align: left;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}
#sel{
    
    
    width: 130px;
    
    
}
.card-body{
    
    text-align: left;
}
.card-header{
    background-color: darkcyan;
    text-align: center;
    
}