.list {
  max-width: 960px;
  margin: auto;
  color: #405065;
  text-align: center;
 
  padding-left: 10px;
  padding-right: 10px;
  
}
.bodybg-color {
  background-color: #ccc;
}

.form-group{
 
  padding: 20px;
  max-width: 500px;
  margin:auto;
}
.list-group{
  max-height: 400px;
  overflow: auto;
}

.form-control {
  box-shadow: 0 10px 40px 0 #B0C1D9;
  margin: auto;
  text-align: center;
}

.list-group-item{
  box-shadow: 0 5px 40px #B0C1D9;
}
.badge:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.badge{
  cursor: pointer;
  padding: 10px;
}
div.imgProduct img{
  width: 100%;
  height: 100%;
  margin:auto;
}
div.imgProduct{
    margin: auto;
    height: 300px;
    width: 300px;
    text-align: center;
}

.detailsProduct{
  text-align: center;
}
.inner-addon { 
  position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
position: absolute;
padding: 10px;
pointer-events: none;
color:darkcyan;
}
/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }






  