<div class="card">
    <div class="card-body">
        <div class="submit-form">
            <form (ngSubmit)="getAllByType()" [formGroup]="myForm">
        <div class="form-group">
            <label for="productType">Product Type</label>
            <input type="text" id="productType" formControlName="productType" class="form-control">
        </div>
        <button class="btn btn-success">Submit</button>
        </form>
    </div>
    <!--<button class="btn btn-primary btn-block" (click)="getAllByType()">Filter by Type</button>-->
    </div>
</div>

