.card-img-top{
    width: 100px;
    height: 100px;
}

.form-control{
    box-shadow:  0 12px 16px 0 rgba(124, 179, 243, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn{
   cursor: pointer;
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.forbtn{
    text-align: center;
    padding-top: 15px;
}